* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

header nav div a img {
  width: 100px; }

header div div div .medida {
  height: 22rem; }

main {
  background-color: black; }
  main h1 {
    margin: 0;
    padding: 2px;
    color: #fbf9f9;
    background-color: #272424;
    font-size: 35px; }
    main h1:hover {
      color: #e01515;
      text-decoration: underline;
      transition: 0.3s;
      transform: skew(-45deg); }

footer {
  padding: 26px;
  background-color: rgba(0, 0, 0, 0.828); }
  footer div ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around; }

main div .seccion-card {
  width: 100%;
  min-height: 500px;
  padding: 2rem;
  background-color: black; }

main div .card {
  width: 10rem; }

main div .card-body {
  background-color: gray; }

main div .btn-card {
  background-color: black;
  color: white; }

main .contenedor-formularios {
  background-color: #020202;
  display: flex;
  flex-direction: column;
  align-items: center; }
  main .contenedor-formularios form {
    width: 85vw;
    max-width: 450px;
    margin: auto;
    background: rgba(189, 189, 189, 0.5);
    padding: 40px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 7px; }
    main .contenedor-formularios form .btn {
      width: 100%;
      color: black;
      background-color: white;
      border: black solid 2px; }

main .accordion {
  padding: 15px 35px 15px 35px; }
  main .accordion div h2 button {
    background-color: #757272;
    color: white; }
