* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

header .logo-banner {
  width: 100px;
  margin-left: 1rem; }

header ul li {
  display: flex;
  font-size: 18px; }

header div div div .medida {
  overflow: hidden; }

main {
  min-height: 100vh;
  background-color: #262526;
  background-image: url(/img/img-backgroud/fondoLadrillos.jpeg); }
  main h1 {
    margin: 0;
    padding: 2px;
    color: #f3f3f3;
    background-color: #272424;
    font-size: 35px; }
    main h1:hover {
      color: #e01515;
      text-decoration: underline;
      transition: 0.3s;
      transform: skew(-45deg); }

footer {
  padding: 26px;
  background-color: rgba(0, 0, 0, 0.828); }
  footer div ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around; }

main div .seccion-card {
  width: 100%;
  min-height: 500px;
  padding: 2rem;
  background-color: black; }

main .tituloPequeno {
  color: aliceblue;
  text-align: center; }

main div .card {
  padding: 4px; }

main div .card-body {
  background-color: #7f8084;
  color: white;
  padding: 2px;
  border-radius: 3px;
  justify-content: center;
  text-align: center; }

main div .btn-card {
  background-color: black;
  color: white;
  margin-bottom: 10px; }

main .contenedor-formularios {
  display: flex;
  flex-direction: column;
  align-items: center; }
  main .contenedor-formularios form {
    width: 85vw;
    max-width: 450px;
    margin: auto;
    background: #d7d8da71;
    padding: 40px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 7px; }
    main .contenedor-formularios form .btn {
      width: 100%;
      color: black;
      background-color: white;
      border: black solid 2px; }

main .accordion {
  padding: 35px 4rem 15px 4rem; }
  main .accordion div .collapsed {
    background-image: url(/img/img-backgroud/fondoLadrillos.jpeg);
    color: white; }
