* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
//PARTIAL = HOJAS PARCIALES
// ALL PAGES
@import './secciones/header-all-pages';
@import './secciones/main-all-index';
@import './secciones/footer-all-pages';

//INDEX
@import './secciones/main-index';

//PRODUCTOS
@import './secciones/main-productos';

//CONTACTOS
@import './secciones/main-contactos';

//FAQ
@import './secciones/main-faq'