header {
  .logo-banner {
    width: 100px;
    margin-left: 1rem;
  }
  .navbar-collapse {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    font-size: 15px;
  }
  .form-control,.btn-form{
    font-size: 14px;
  }
}
div {
  div {
    div {
      .medida {
        overflow: hidden;
      }
    }
  }
}
@media (max-width: 767px) {
  header .navbar-collapse {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-end;
}
}