header {
  .logo-banner {
    width: 100px;
    margin-left: 1rem;
  }
  & ul {
    li {
      display: flex;
      font-size: 18px;
    }
  }

  div {
    div {
      div {
        .medida {
          overflow: hidden;
        }
      }
    }
  }
}
