main {
    min-height: 78vh;
    background-color:$colorMain;
    background-image: url(../img/img-backgroud/fondoLadrillos.jpeg);

    h1 {margin-top: 1rem;
        padding: 2px;
        color: $colorTitulos;
        font-size: 40px;
        position: absolute;
        width: 100%;
    

        &:hover {
            color: rgb(224, 21, 21);
            text-decoration: underline;
            transition: 0.3s;
            transform: skew(-45deg);
        }
    }
}