main {
    min-height: 100vh;
    background-color:$colorMain;
    background-image: url(./../../img/img-backgroud/fondoLadrillos.jpeg);

    h1 {
        margin: 0;
        padding: 2px;
        color: $colorTitulos;
        background-color: rgb(39, 36, 36);
        font-size: 35px;
    

        &:hover {
            color: rgb(224, 21, 21);
            text-decoration: underline;
            transition: 0.3s;
            transform: skew(-45deg);
        }
    }
}