main {
    .contenedor-formularios{
        background-color: rgb(2, 2, 2);
        display: flex;
        flex-direction: column;
        align-items: center;
    form {
        width: 85vw;
        max-width: 450px;
        margin: auto;
        background: rgba(189, 189, 189, 0.5);
        padding: 40px 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 7px;
      .btn {
        width: 100%;
        color: black;
        background-color: white;
        border: black solid 2px;
      }
    }
  }
  }