main {
    background-color: black;

    h1 {
        color: rgb(251, 249, 249);
        border: black 2px solid;
        padding: 15px;
        background-color: rgb(39, 36, 36);
        font-size: 42px;

        &:hover {
            color: rgb(224, 21, 21);
            text-decoration: underline;
            transition: 0.3s;
            transform: skew(-45deg);
        }
    }
}